.loading-spinner {
	text-align: center;
	margin-top: 2rem;
}

.types {
	display: flex;
	gap: 2rem;
}

.capitalized {
	text-transform: capitalize;
}

.pokemon-name,
.title {
	font-weight: 600;
}

.pokemon-name {
	text-align: left;
	align-self: flex-start;
}

.card-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}

.stats {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
