.loading-spinner {
	text-align: center;
	margin-top: 2rem;
}

.types {
	display: flex;
	gap: 2rem;
}

.capitalized {
	text-transform: capitalize;
}

.pokemon-name,
.title {
	font-weight: 600;
}

.pokemon-name {
	text-align: left;
	align-self: flex-start;
}

.name-button {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	gap: 0.5rem;
}

.shiny-button {
	border: none;
	outline: none;
	background: none;
	margin: 0;
	padding: 0;
}

.shiny-icon {
	width: 30px;
}
.not-shiny {
	opacity: 0.6;
}

.shiny {
	opacity: 1;
}

.card-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}

.stats {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
